<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item>
        <ion-label position="floating">Song</ion-label>
      <ion-input required type="text"  [(ngModel)]="song.song"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Artist</ion-label>
      <ion-input required type="text"  [(ngModel)]="song.artist"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Notes</ion-label>
    <ion-input required type="text"  [(ngModel)]="song.notes"></ion-input>
  </ion-item>
    <ion-item>
        <ion-label position="floating">Priority</ion-label>
      <ion-input required type="number" [(ngModel)]="song.priority"></ion-input>
    </ion-item>
  </ion-list>
  
  <ion-button *ngIf="song.song.length !== 0" expand="full" id="hideRemove" (click)="removeSong(song.id)"  color="secondary">Delete</ion-button>
  
  <ion-button expand="full" (click)="saveSong()">Save</ion-button>
</ion-content>