<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
    <ion-label></ion-label>
  
    <br>
    <ion-label>Songlist.</ion-label>
    <br> <br>
    <ion-label>You can add, modify and delete songs and artists at song list-page.<br>  </ion-label>
    <br> <br>
    <ion-label>Added note for songs at details-page. 16.11.2019<br>  </ion-label>
    <ion-card color="light">
      <ion-card-content>
        <img class="img-responsive" src="/assets/img/kitara.jpg" alt="Kitara">
      </ion-card-content>
    </ion-card>
</ion-content>
